---
const pageTitle = "About Us";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">Home</a>
    <a href="/aboutus/">About Us</a>
    <a href="/devlogs/">DevLogs</a>
    <h1>{pageTitle}</h1>

    <p>Qui non magna duis commodo duis proident aute do pariatur. Voluptate laboris fugiat laboris fugiat sit nisi aliqua duis dolor 
        empor eiusmod aliquip commodo. Laborum in qui occaecat elit nulla dolor qui do aliquip minim. Pariatur in anim dolor exercitation 
        exercitation officia labore sunt et culpa dolor et. Cillum ipsum velit et sunt fugiat ullamco velit excepteur qui qui fugiat commodo 
        dolore. Amet pariatur laborum sunt qui cillum ad dolore duis magna. Sit Lorem tempor quis ut et esse minim nulla ullamco.

        Eu exercitation cillum officia laborum laboris exercitation tempor minim elit magna tempor voluptate non exercitation. 
        Incididunt cupidatat consectetur et ipsum ipsum. Duis culpa commodo eu esse laborum cillum elit officia consectetur pariatur 
        reprehenderit sit nisi. Pariatur nostrud mollit veniam fugiat laboris enim irure consectetur non.

        Ut nisi deserunt ex ullamco est est nostrud ex cillum officia nisi pariatur pariatur non. Ad nisi commodo est labore eiusmod ex. 
        Dolore irure laboris veniam minim id occaecat nulla deserunt occaecat nisi elit. Laborum laboris laborum tempor in deserunt voluptate 
        culpa ex. Ea voluptate aliqua Lorem duis nisi do nostrud. Nisi elit officia aliqua ea occaecat ex quis. Laboris irure fugiat duis ullamco 
        elit ut veniam incididunt.

        Ipsum sunt Lorem qui adipisicing consectetur ad culpa nostrud consectetur et ad irure duis. Ut dolore do id labore minim sunt aute occaecat 
        sunt culpa labore quis fugiat. Mollit aliquip fugiat pariatur amet. Adipisicing irure dolor do velit ullamco ipsum exercitation aliqua incididunt 
        Lorem. Quis pariatur ea ea ex quis.

        Anim cillum eiusmod Lorem pariatur incididunt magna exercitation laborum aute adipisicing aute et laboris sint. Sit qui consequat commodo ullamco 
        consequat non. Qui reprehenderit do aliquip fugiat commodo elit aliqua ut ea ad minim proident ex. Aute ut sunt occaecat culpa enim anim aliquip mollit 
        commodo sit mollit et. Do voluptate adipisicing qui cillum officia. Ad minim voluptate qui non exercitation ipsum.

        Enim pariatur laborum deserunt sit occaecat magna. Duis veniam tempor Lorem anim sint ut nulla non tempor tempor. Reprehenderit labore incididunt sint laborum 
        in aute et nisi eu occaecat. Anim Lorem dolor veniam anim minim ipsum occaecat.</p>
  </body>
  </html>